.success-message {
    background-color: #4CAF50;
    /* Green background color */
    color: #fff;
    /* White text color */
    padding: 15px;
    /* Padding around the message */
    text-align: center;
    /* Center align text */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    /* Ensures it's on top of other elements */
    animation: slideDown 2s ease-in-out, fadeOut 2s 2s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}